{% extends 'template.html.twig' %}

{% block content %}
    <div class="container" style="padding:10px 20px;">
        <div class="form-row">
            <div class="col-md-6 relative">
                <h2 class="m-1">Adresses</h2>
                <div class="col-sm-12 col-md-12">
                    <div class="form-group">
                        <ul class="list-group" style="overflow:auto; height: 420px;" >
                            {% for a in address %}
                                <li class="list-group-item">
                                    <div class="row">
                                        <p class="col-9">{{ a.way }} {{ a.complement }} <br> {{ a.zipCode }} {{ a.city }}, {{ a.country }}</p>
                                        <div class="col-3">
                                            <form method="POST" style="display:initial;" action="{{ path('removeAddress', { id:a.id }) }}">
                                                <button type="submit" class="btn btn-danger float-right" data-toggle="modal" data-target="#delconfirme" onclick="return false">✗</button>
                                            </form>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 relative">
                <h2>Ajouter une adresse</h2>
                <hr>
                {{ form_start(form, {class:"mb-5"}) }}
                    <div class="col-sm-12 col-md-12">
                        <div class="form-group">
                            <div class="form-group">
                                {{ form_row(form.way) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(form.complement) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(form.zipCode) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(form.city) }}
                            </div>
                            {{ form_row(form._token) }}
                        </div>
                        <p>L'adresse de livraison dois ce trouver en france métropoliténe !</p>
                        <div class="d-flex justify-content-center">
                            {{ form_widget(form.save) }}
                        </div>
                        <hr>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <div class="modal fade" id="delconfirme">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Supprimer une adresse</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body" id="modalbody">êtes-vous bien sûr de vouloir supprimer cette adresse?</div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-success btn-lg float-right" id="btndone">Supprimer</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(() => {
            let currentSelectFormDelAddr;
            $('#delconfirme').on('show.bs.modal', function (e) {
                currentSelectFormDelAddr = $(e.relatedTarget).parent();
            });
            $('#btndone').on('click', function (e) {
                currentSelectFormDelAddr.submit();
            })
        })
    </script>
{% endblock %}