{% extends 'template.html.twig' %}

{% block content %}
    <div class="container pb-1" style="box-shadow: 1px 0 5px 0 rgba(0,0,0,0.2);">
        <div class="col-12 col-md-12 mb-2">
            <div class="row">
                <div class="col col-sm-6 col-md-8 col-lg-9"><label class="col-form-label">Nom</label></div>
                <div class="col col-sm-2 col-md-1 col-lg-1"><label class="col-form-label">Prix</label></div>
                <div class="col col-sm-4 col-md-3 col-lg-2"><label class="col-form-label pull-right">Quantité</label></div>
            </div>
        </div>
        {% for cartLine in app.user.cartLines %}
            <div class="col-12 col-md-12 mb-2" style="box-shadow: 1px 0 5px 0 rgba(0,0,0,0.2);">
                <div class="row">
                    <div class="col-xs-1 col-sm-6 col-md-8 col-lg-9">
                        <label class="col-form-label">{{ cartLine.product.title }}</label>
                    </div>
                    <div class="col-11 col-sm-5 col-md-3 col-lg-2">
                        <label class="col-form-label">{{ cartLine.product.unitPriceHT|number_format(2, ',') }}€</label>
                    </div>
                    <label class="col-form-label float-right m-1">{{ cartLine.quantity }}</label>
                </div>
            </div>
        {% endfor %}
        <div class="col-12 col-md-12 mb-2">
            <div class="mb-3">
                <div class="col-xs-1">
                    <label>Nombre d'articles : {{ app.user.cartLines.Count }}</label>
                </div>
                <div class="col-xs-1">
                    <label>Prix total hors taxe : {{ (app.user.totalPriceHT)|number_format(2, ',') }}€</label>
                </div>
                <div class="col-xs-1">
                    <label>Prix total avec la TVA : {{ (app.user.totalPrice)|number_format(2, ',', ' ') }}€</label>
                </div>
                <div class="col-xs-1">
                    <label>Frais de port : 10€</label>
                </div>
                <div class="col-xs-1">
                    <label>Prix Total : {{ (app.user.totalPrice+10)|number_format(2, ',', ' ') }}€</label>
                </div>
                <div class="col-12 col-sm-11 col-md-12">
                    {{ form_start(form) }}
                        <div class="mb-2 row">
                            {{ form_label(form.deliveryAddress) }}
                            <div class="col-12 col-sm-7">
                                {{ form_widget(form.deliveryAddress) }}
                                <a href="{{ path('address') }}">Vous pouvez ajouter une nouvelle adresse ici</a>
                            </div>
                            <div class="col-12 col-sm-2">
                                {{ form_widget(form.submit) }}
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}