{% extends 'template.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/css/catalog.css">
    <link rel="stylesheet" href="/css/stars.css">
{% endblock %}

{% block content %}
    <div>
        <div class="row" style="margin:0">
            <div class="col-md-2 col-md-pull-10">
                <div class="sidebar container mb-3">
                    <div class="side">
                        <form>
                            <i class="icon icon-arrow-down3"></i>
                            {% if app.request.query.get('shortPrice') == 'DESC' %}
                                {% set checkPrice = true %}
                            {% else %}
                                {% set checkPrice = false %}
                            {% endif %}
                            {% if app.request.query.get('q')  %}
                                <input type="hidden" name="q" value="{{ app.request.query.get('q') }}">
                            {% endif %}
                            <select name="shortPrice" onchange="this.form.submit()" class="form-control">
                                <option value="ASC" {% if not checkPrice %}selected{% endif %}>Prix croissant</option>
                                <option value="DESC" {% if checkPrice %}selected{% endif %}>Prix decroissant</option>
                            </select>
                            {% if app.request.query.get('stars')  %}
                                <input type="hidden" name="stars" value="{{ app.request.query.get('stars') }}">
                            {% endif %}
                            <noscript>
                                <input type="submit" value="Filtrée">
                            </noscript>
                        </form>
                    </div>
                    <hr>
                    <div class="side">
                        <div class="d-flex flex-wrap justify-content-center justify-content-md-start starscont">
                            {% set curquery = app.request.query.all() %}
                            <a href="{{ path("catalogC", { 'cat': app.request.attributes.get('cat')|default('all')}) }}?{{ curquery|merge({'stars':0})|url_encode }}">
                                <span class="starsbox stars stars0">&amp;plus</span>
                            </a>
                            <a href="{{ path("catalogC", { 'cat': app.request.attributes.get('cat')|default('all')}) }}?{{ curquery|merge({'stars':1})|url_encode }}">
                                <span class="starsbox stars stars1">&amp;plus</span>
                            </a>
                            <a href="{{ path("catalogC", { 'cat': app.request.attributes.get('cat')|default('all')}) }}?{{ curquery|merge({'stars':2})|url_encode }}">
                                <span class="starsbox stars stars2">&amp;plus</span>
                            </a>
                            <a href="{{ path("catalogC", { 'cat': app.request.attributes.get('cat')|default('all')}) }}?{{ curquery|merge({'stars':3})|url_encode }}">
                                <span class="starsbox stars stars3">&amp;plus</span>
                            </a>
                            <a href="{{ path("catalogC", { 'cat': app.request.attributes.get('cat')|default('all')}) }}?{{ curquery|merge({'stars':4})|url_encode }}">
                                <span class="starsbox stars stars4">&amp;plus</span>
                            </a>
                            <a href="{{ path("catalogC", { 'cat': app.request.attributes.get('cat')|default('all')}) }}?{{ curquery|merge({'stars':5})|url_encode }}">
                                <span class="starsbox stars stars5"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10 col-md-push-2 d-flex flex-wrap justify-content-center justify-content-lg-start">
                {% if products == [] %}
                    <div class="container" style="margin: 10% 0">
                        <h1>Aucun produits ne correstopn a cette recherche ou categorie </h1>
                    </div>
                {% else %}
                    {% for product in products %}
                        <a href="{{ path("product", {'id':product.id}) }}" class="articleElm rounded m-2">
                            <div class="articleNom">
                                {{ product.title }}
                            </div>
                            <div class="imgBox">
                                <img src="/img/{% if product.picture %}products/{{ product.picture }}{% else %}{{ 'defaultproduitimg.png' }}{% endif %}" alt="product picture">
                            </div>
                            <div class="articleStars stars {{ entityService.getStarsClass(product.avgstars) }}"></div>
                            <div class="articlePrix">
                                {{ product.unitPriceHT }}€
                            </div>
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

