{% extends "../templates/base.html.twig" %}
{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    {% for client in clients %}
    <div>{{ client.idclient }}</div><br>
    <div>{{ client.pseudo }}</div><br>
    <br><br><br><br>
    {% endfor %}
{% endblock %}
