{% extends 'template.html.twig' %}

{% block content %}
    <div class="container pb-1" style="box-shadow: 1px 0 5px 0 rgba(0,0,0,0.2);">
        <div class="col-12 col-md-12 mb-2">
            <div class="row">
                <div class="col-4 col-sm-5 col-md-6 col-lg-7"><label class="col-form-label">Nom</label></div>
                <div class="col-2 col-sm-1 col-md-1 col-lg-1"><label class="col-form-label">Prix</label></div>
                <div class="col-2 col-sm-2 col-md-2 col-lg-1"><label class="col-form-label">Quantité</label></div>
                <div class="col-4 col-sm-4 col-md-3 col-lg-3"><label class="col-form-label pull-right">Actions</label></div>
            </div>
        </div>
        <div id="cartvoid" class="ml-2 mb-5" {% if app.user.cartLines.count != 0 %}style="display: none"{% endif %}>Votre panier est vide</div>
        <div id="cartcontent">
            {% for cartLine in app.user.cartLines %}
                <div class="col-12 col-md-12 mb-2" style="box-shadow: 1px 0 5px 0 rgba(0,0,0,0.2);">
                    <div class="row">
                        <div class="col-4 col-sm-5 col-md-6 col-lg-7">
                            <label class="col-form-label" style="word-break: break-word;">{{ cartLine.product.title }}</label>
                        </div>
                        <div class="col-2 col-sm-1 col-md-1 col-lg-1">
                            <label class="col-form-label">{{ cartLine.product.unitPriceHT|number_format(2, ',') }}€</label>
                        </div>
                        <div class="col-2 col-sm-2 col-md-2 col-lg-1">
                            <label class="col-form-label pull-right m-1">{{ cartLine.quantity }}</label>
                        </div>
                        <div class="col-4 col-sm-4 col-md-3 col-lg-3">
                            <div class="pull-right">
                                <form method="POST" style="display: initial;">
                                    <input type="hidden" name="id" data-src="{{ path('cartLineRemove', {id:'<value>', qty:1}) }}" value="{{ cartLine.product.id }}">
                                    <button class="btn btn-primary m-1" name="action" value="quentityremove" type="submit">-</button>
                                </form>
                                <form method="POST" style="display: initial;">
                                    <input type="hidden" name="id" data-src="{{ path('cartLineAdd', {id:'<value>', qty:1}) }}" value="{{ cartLine.product.id }}">
                                    <button class="btn btn-primary m-1" name="action" value="quentityadd" type="submit">+</button>
                                </form>
                                <form method="POST" style="display:initial;">
                                    <input type="hidden" name="id" data-src="{{ path('cartLineRemoveAll', {id:'<value>'}) }}" value="{{ cartLine.product.id }}">
                                    <button class="btn btn-danger m-1" name="action" value="productremove" type="submit">X</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <form action="{{ path('order') }}" method="post">
            <div class="mb-3">
                <div class="col-xs-1">
                    <label>Nombre d'articles : <span id="cartCount">{{ app.user.cartLines.Count }}</span></label>
                    <button class="btn btn-primary pull-right" type="button" id="cartRemove" data-src="{{ path('cartRemove') }}">Vider le panier</button>
                </div>
                <div class="col-xs-1">
                    <label>Prix total hors taxe : <span id="cartPriceHT">{{ (app.user.totalPriceHT)|number_format(2, ',') }}</span>€</label>
                </div>
                <div class="col-xs-1">
                    <label>Prix total avec la TVA : <span id="cartPrice">{{ (app.user.totalPrice)|number_format(2, ',', ' ') }}</span>€</label>
                    <button class="btn btn-primary pull-right" type="submit">Passer la commande</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/js/panier.js"></script>
{% endblock %}