{#{{ url('login') }}<img src="{{ absolute_url(asset('img/logo.png')) }}">#}
<h3>Bienvenu sur Ô'Tako!</h3>
Bonjour {{ name }}! Vous êtes inscrit avec succès.
<br>
Pour vous connecter cliquez <a href="{{ url('login') }}">ici</a>.
<br>
Merci!
<br>
<img src="{{ absolute_url(asset('img/logoPoulpe.png')) }}">